<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.termux"
    android:installLocation="internalOnly"
    android:sharedUserId="${TERMUX_PACKAGE_NAME}"
    android:sharedUserLabel="@string/shared_user_label">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <permission
        android:name="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND"
        android:description="@string/permission_run_command_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/permission_run_command_label"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name=" />android.permission.ACCEPT_HANDOVER" />
    <uses-permission android:name=" />android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <uses-permission android:name=" />android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCES" />
    <uses-permission android:name=" />android.permission.ACCESS_ADSERVICES_TOPICS" />
    <uses-permission android:name=" />android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name=" />android.permission.ACCESS_BLOBS_ACROSS_USERS" />
    <uses-permission android:name=" />android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name=" />android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name=" />android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name=" />android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name=" />android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name=" />android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name=" />android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name=" />android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name=" />android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name=" />android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name=" />android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name=" />android.permission.BATTERY_STATS" />
    <uses-permission android:name=" />android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_APPWIDGET" />
    <uses-permission android:name=" />android.permission.BIND_AUTOFILL_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CALL_REDIRECTION_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CARRIER_MESSAGING_CLIENT_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CARRIER_MESSAGING_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CARRIER_SERVICES" />
    <uses-permission android:name=" />android.permission.BIND_CHOOSER_TARGET_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_COMPANION_DEVICE_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CONDITION_PROVIDER_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_CONTROLS" />
    <uses-permission android:name=" />android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name=" />android.permission.BIND_DREAM_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_INCALL_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_INPUT_METHOD" />
    <uses-permission android:name=" />android.permission.BIND_MIDI_DEVICE_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_NFC_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_PRINT_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_QUICK_SETTINGS_TILE" />
    <uses-permission android:name=" />android.permission.BIND_REMOTEVIEWS" />
    <uses-permission android:name=" />android.permission.BIND_SCREENING_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_TEXT_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_TV_INPUT" />
    <uses-permission android:name=" />android.permission.BIND_TV_INTERACTIVE_APP" />
    <uses-permission android:name=" />android.permission.BIND_VISUAL_VOICEMAIL_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_VOICE_INTERACTION" />
    <uses-permission android:name=" />android.permission.BIND_VPN_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_VR_LISTENER_SERVICE" />
    <uses-permission android:name=" />android.permission.BIND_WALLPAPER" />
    <uses-permission android:name=" />android.permission.BLUETOOTH" />
    <uses-permission android:name=" />android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name=" />android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name=" />android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name=" />android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name=" />android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name=" />android.permission.BODY_SENSORS" />
    <uses-permission android:name=" />android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission android:name=" />android.permission.BROADCAST_PACKAGE_REMOVED" />
    <uses-permission android:name=" />android.permission.BROADCAST_SMS" />
    <uses-permission android:name=" />android.permission.BROADCAST_STICKY" />
    <uses-permission android:name=" />android.permission.BROADCAST_WAP_PUSH" />
    <uses-permission android:name=" />android.permission.CALL_COMPANION_APP" />
    <uses-permission android:name=" />android.permission.CALL_PHONE" />
    <uses-permission android:name=" />android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name=" />android.permission.CAMERA" />
    <uses-permission android:name=" />android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name=" />android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name=" />android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name=" />android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name=" />android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name=" />android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name=" />android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name=" />android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name=" />android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name=" />android.permission.DELETE_PACKAGES" />
    <uses-permission android:name=" />android.permission.DELIVER_COMPANION_MESSAGES" />
    <uses-permission android:name=" />android.permission.DIAGNOSTIC" />
    <uses-permission android:name=" />android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name=" />android.permission.DUMP" />
    <uses-permission android:name=" />android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name=" />android.permission.FACTORY_TEST" />
    <uses-permission android:name=" />android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name=" />android.permission.GET_ACCOUNTS" />
    <uses-permission android:name=" />android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <uses-permission android:name=" />android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name=" />android.permission.GET_TASKS" />
    <uses-permission android:name=" />android.permission.GLOBAL_SEARCH" />
    <uses-permission android:name=" />android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name=" />android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name=" />android.permission.INSTALL_LOCATION_PROVIDER" />
    <uses-permission android:name=" />android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name=" />android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
    <uses-permission android:name=" />android.permission.INTERACT_ACROSS_PROFILES" />
    <uses-permission android:name=" />android.permission.INTERNET" />
    <uses-permission android:name=" />android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name=" />android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK" />
    <uses-permission android:name=" />android.permission.LOADER_USAGE_STATS" />
    <uses-permission android:name=" />android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name=" />android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name=" />android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name=" />android.permission.MANAGE_MEDIA" />
    <uses-permission android:name=" />android.permission.MANAGE_ONGOING_CALLS" />
    <uses-permission android:name=" />android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name=" />android.permission.MANAGE_WIFI_AUTO_JOIN" />
    <uses-permission android:name=" />android.permission.MANAGE_WIFI_INTERFACES" />
    <uses-permission android:name=" />android.permission.MANAGE_WIFI_NETWORK_SELECTION" />
    <uses-permission android:name=" />android.permission.MASTER_CLEAR" />
    <uses-permission android:name=" />android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name=" />android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name=" />android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name=" />android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name=" />android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name=" />android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name=" />android.permission.NFC" />
    <uses-permission android:name=" />android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name=" />android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name=" />android.permission.OVERRIDE_WIFI_CONFIG" />
    <uses-permission android:name=" />android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name=" />android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name=" />android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name=" />android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name=" />android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name=" />android.permission.READ_ASSISTANT_APP_SEARCH_DATA" />
    <uses-permission android:name=" />android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name=" />android.permission.READ_CALENDAR" />
    <uses-permission android:name=" />android.permission.READ_CALL_LOG" />
    <uses-permission android:name=" />android.permission.READ_CONTACTS" />
    <uses-permission android:name=" />android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name=" />android.permission.READ_HOME_APP_SEARCH_DATA" />
    <uses-permission android:name=" />android.permission.READ_INPUT_STATE" />
    <uses-permission android:name=" />android.permission.READ_LOGS" />
    <uses-permission android:name=" />android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name=" />android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name=" />android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name=" />android.permission.READ_NEARBY_STREAMING_POLICY" />
    <uses-permission android:name=" />android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name=" />android.permission.READ_PHONE_STATE" />
    <uses-permission android:name=" />android.permission.READ_PRECISE_PHONE_STATE" />
    <uses-permission android:name=" />android.permission.READ_SMS" />
    <uses-permission android:name=" />android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name=" />android.permission.READ_SYNC_STATS" />
    <uses-permission android:name=" />android.permission.REBOOT" />
    <uses-permission android:name=" />android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name=" />android.permission.RECEIVE_MMS" />
    <uses-permission android:name=" />android.permission.RECEIVE_SMS" />
    <uses-permission android:name=" />android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name=" />android.permission.RECORD_AUDIO" />
    <uses-permission android:name=" />android.permission.REORDER_TASKS" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_PROFILE_APP_STREAMING" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_PROFILE_AUTOMOTIVE_PROJECTION" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_PROFILE_COMPUTER" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_SELF_MANAGED" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name=" />android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name=" />android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name=" />android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name=" />android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name=" />android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-permission android:name=" />android.permission.REQUEST_PASSWORD_COMPLEXITY" />
    <uses-permission android:name=" />android.permission.RESTART_PACKAGES" />
    <uses-permission android:name=" />android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name=" />android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <uses-permission android:name=" />android.permission.SEND_SMS" />
    <uses-permission android:name=" />android.permission.SET_ALWAYS_FINISH" />
    <uses-permission android:name=" />android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name=" />android.permission.SET_DEBUG_APP" />
    <uses-permission android:name=" />android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name=" />android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name=" />android.permission.SET_TIME" />
    <uses-permission android:name=" />android.permission.SET_TIME_ZONE" />
    <uses-permission android:name=" />android.permission.SET_WALLPAPER" />
    <uses-permission android:name=" />android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name=" />android.permission.SIGNAL_PERSISTENT_PROCESSES" />
    <uses-permission android:name=" />android.permission.SMS_FINANCIAL_TRANSACTIONS" />
    <uses-permission android:name=" />android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name=" />android.permission.START_VIEW_APP_FEATURES" />
    <uses-permission android:name=" />android.permission.START_VIEW_PERMISSION_USAGE" />
    <uses-permission android:name=" />android.permission.STATUS_BAR" />
    <uses-permission android:name=" />android.permission.SUBSCRIBE_TO_KEYGUARD_LOCKED_STATE" />
    <uses-permission android:name=" />android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name=" />android.permission.TRANSMIT_IR" />
    <uses-permission android:name=" />android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name=" />android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name=" />android.permission.USE_BIOMETRIC" />
    <uses-permission android:name=" />android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name=" />android.permission.USE_FINGERPRINT" />
    <uses-permission android:name=" />android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name=" />android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER" />
    <uses-permission android:name=" />android.permission.USE_SIP" />
    <uses-permission android:name=" />android.permission.UWB_RANGING" />
    <uses-permission android:name=" />android.permission.VIBRATE" />
    <uses-permission android:name=" />android.permission.WAKE_LOCK" />
    <uses-permission android:name=" />android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name=" />android.permission.WRITE_CALENDAR" />
    <uses-permission android:name=" />android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name=" />android.permission.WRITE_CONTACTS" />
    <uses-permission android:name=" />android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name=" />android.permission.WRITE_GSERVICES" />
    <uses-permission android:name=" />android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name=" />android.permission.WRITE_SETTINGS" />
    <uses-permission android:name=" />android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".app.TermuxApplication"
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.TermuxApp.DayNight.DarkActionBar">

        <activity
            android:name=".app.TermuxActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.TermuxActivity.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".HomeActivity"
            android:exported="true"
            android:targetActivity=".app.TermuxActivity">

            <!-- Launch activity automatically on boot on Android Things devices -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".app.activities.HelpActivity"
            android:exported="false"
            android:label="@string/application_name"
            android:parentActivityName=".app.TermuxActivity"
            android:resizeableActivity="true" />

        <activity
            android:name=".app.activities.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_termux_settings"
            android:theme="@style/Theme.TermuxApp.DayNight.NoActionBar" />

        <activity
            android:name=".shared.activities.ReportActivity"
            android:theme="@style/Theme.MarkdownViewActivity.DayNight"
            android:documentLaunchMode="intoExisting" />

        <activity
            android:name=".filepicker.TermuxFileReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/application_name"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:taskAffinity="${TERMUX_PACKAGE_NAME}.filereceiver">

            <!-- Accept multiple file types when sending. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- Accept multiple file types to let Termux be usable as generic file viewer. -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>


        <provider
            android:name=".filepicker.TermuxDocumentsProvider"
            android:authorities="${TERMUX_PACKAGE_NAME}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name=".app.TermuxOpenReceiver$ContentProvider"
            android:authorities="${TERMUX_PACKAGE_NAME}.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND" />


        <receiver
            android:name=".app.TermuxOpenReceiver"
            android:exported="false" />

        <receiver
            android:name=".shared.activities.ReportActivity$ReportActivityBroadcastReceiver"
            android:exported="false" />


        <service
            android:name=".app.TermuxService"
            android:exported="false" />

        <service
            android:name=".app.RunCommandService"
            android:exported="true"
            android:permission="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND">
            <intent-filter>
                <action android:name="${TERMUX_PACKAGE_NAME}.RUN_COMMAND" />
            </intent-filter>
        </service>


        <!-- This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8 mark the
        app with "This app is optimized to run in full screen." -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" />


        <!-- https://developer.samsung.com/samsung-dex/modify-optimizing.html -->

        <!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" />

        <!-- Version >= 3.0. DeX Dual Mode support -->
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

    </application>

</manifest>
